---
permalink: /switchover/automatic/
layout: switchover.njk
eleventyExcludeFromCollections: true
---
<script>
  const params = new URLSearchParams(document.location.search);
  const url = params.get('url');

  if (!url) {
    document.getElementById('result').textContent = 'Error: Please provide a URL';
    throw new Error('No URL provided');
  }

  if (!checkUrl(url)) {
    document.getElementById('result').textContent = 'Error: Invalid URL';
    throw new Error('Invalid URL');
  }

  const newUrl = toViewUrl(url);
  window.location.href = newUrl;
</script>
